//цвет текста секции
$colorT: #1e1611;
//заголовки карточек
$elow: #eeaf36;
//текст карточек
$fontT: #555555;
//фон кнопки
$btn: #4b280e;
//текст кнопки
$btnT: #3d1f08;
//заголовки секций
$titleh2: #000;
//цвет заголовка виза
$colV: #f7f7f7;
//цвет фон адрес
$colorF: #e1d4bc;
//цвет фона секции, инпуты 
$colorSF: #f6f1e8;
//контакты
$contT: #2f0700;
//почта, скайп
$mail: #234e7d;
//цвет кнопки контакты
$colorbtnC: #d79c2d;