@font-face {
    font-family: 'cambria';
    src: url('../fonts/cambria.eot');
    src: url('../fonts/cambria.eot') format('embedded-opentype'),
         url('../fonts/cambria.woff2') format('woff2'),
         url('../fonts/cambria.woff') format('woff'),
         url('../fonts/cambria.ttf') format('truetype'),
         url('../fonts/cambria.svg#cambria') format('svg');
}

@font-face {
    font-family: 'cambriabolditalic';
    src: url('../fonts/cambriabolditalic.eot');
    src: url('../fonts/cambriabolditalic.eot') format('embedded-opentype'),
         url('../fonts/cambriabolditalic.woff2') format('woff2'),
         url('../fonts/cambriabolditalic.woff') format('woff'),
         url('../fonts/cambriabolditalic.ttf') format('truetype'),
         url('../fonts/cambriabolditalic.svg#cambriabolditalic') format('svg');
}

@font-face {
    font-family: 'cambriaitalic';
    src: url('../fonts/cambriaitalic.eot');
    src: url('../fonts/cambriaitalic.eot') format('embedded-opentype'),
         url('../fonts/cambriaitalic.woff2') format('woff2'),
         url('../fonts/cambriaitalic.woff') format('woff'),
         url('../fonts/cambriaitalic.ttf') format('truetype'),
         url('../fonts/cambriaitalic.svg#cambriaitalic') format('svg');
}

@font-face {
    font-family: 'cambriabold';
    src: url('../fonts/cambriabold.eot');
    src: url('../fonts/cambriabold.eot') format('embedded-opentype'),
         url('../fonts/cambriabold.woff2') format('woff2'),
         url('../fonts/cambriabold.woff') format('woff'),
         url('../fonts/cambriabold.ttf') format('truetype'),
         url('../fonts/cambriabold.svg#cambriabold') format('svg');
}


@font-face {
    font-family: 'GoodVibesPro';
    src: url('../fonts/GoodVibesPro.eot');
    src: url('../fonts/GoodVibesPro.eot') format('embedded-opentype'),
         url('../fonts/GoodVibesPro.woff2') format('woff2'),
         url('../fonts/GoodVibesPro.woff') format('woff'),
         url('../fonts/GoodVibesPro.ttf') format('truetype'),
         url('../fonts/GoodVibesPro.svg#GoodVibesPro') format('svg');
}

